@page
@model BookwormsOnline.Pages.errors._500Model
@{
}
@{
    ViewData["Title"] = "Error 500";
}
<h1>Error 500</h1>
<p>Internal Server Error. Please try again later or contact support if the problem persists.</p>

